<!DOCTYPE html>
<html>
<head th:insert="base :: head"></head>

<body>
<!--navbar-->
<div th:insert="base :: navbar"></div>


<div class="container mt-5">
    <h1 class="text-center">Aplicativo de Lista de Tarefas - Desafios</h1>
    <p>
        Desenvolver um aplicativo de lista de tarefas usando Spring Boot, Bootstrap e PostgreSQL é um desafio
        empolgante que envolve diversas etapas e habilidades. Alguns dos desafios enfrentados durante o processo de
        desenvolvimento incluem:
    </p>
    <ul class="list-group">
        <li class="list-group-item">Configurar o ambiente de desenvolvimento, incluindo a instalação do JDK, Spring Boot e PostgreSQL.</li>
        <li class="list-group-item">Modelar o banco de dados e criar entidades JPA para representar as tarefas.</li>
        <li class="list-group-item">Desenvolver os serviços RESTful para criar, ler, atualizar e excluir tarefas.</li>
        <li class="list-group-item">Integrar o front-end usando Bootstrap, garantindo uma interface de usuário responsiva e atraente.</li>
        <li class="list-group-item">Configurar a conexão com o PostgreSQL e garantir a integridade dos dados.</li>
    </ul>
</div>

<div th:replace="base :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
